ion-grid {
--ion-grid-padding: 4px;
}

.search {
  background-color: #225f93;
}

.table-container {
  overflow-x: scroll;
  height: 80vh;
}

th,
td {
  text-align: left;
}
th {
  height: auto;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.button-inner {
  font-size: 12px;
}

ion-select {
  margin-top: 7px;
}

.button {
  width: inherit;
}

ion-toolbar.toolbar > div.toolbar-content {
  border-bottom: none;
}

table thead tr {
  background: #5d91bd;
  color: white;
}

.filters {
  background-color: #225f93;
}
.scroll-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.toolbar {
  padding-bottom: 0px;
}

ion-toolbar.toolbar > div.toolbar-content {
  padding-bottom: 0px !important;
}

.positive {
  background-color: #9df59d;
}

.negative {
  background-color: #ef5050d1;
}
.number {
  text-align: right !important;
}

.customerName {
  color: blue;
}

ion-select {
  background-color: white;
  margin-left: 8px;
  margin-right: 8px;
  max-width: 100%;
}

th {
  position: sticky;
  top: 0;
  background: #5d91bd;
  color: white;
}
