<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button [defaultHref]="hrefTag">
    </ion-back-button>
  </ion-buttons>
  <ion-title>Review And Submit</ion-title>
  <ion-buttons slot="end" *ngIf="isEditOrderFlow">
    <ion-button class="cart-btn" (click)="moveToSMHome()">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!isEditOrderFlow" (click)="presentPopover($event)" fill="clear">
      <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-row>
          <ion-col size="12">
            <strong class="custName">
              <ion-icon name="star"></ion-icon> Customer: {{customerName}}
            </strong>
          </ion-col>
          <ion-col size="12">
            <strong>
              <ion-icon name="cash"></ion-icon> Order Total: {{orderTotal}} ZMW
            </strong>
          </ion-col>
          <ion-col size="12">
            <strong>
              <ion-icon name="cog"></ion-icon> Weight Total: {{ totalNetWeight | number: '.3-3'}} tonnage
            </strong>
          </ion-col>
          <ion-col size="12">
            <ion-button  class="ion-text-wrap" fill="outline" color="secondary" size="small" (click)="openCategoryTotalModal()">View Category Wise Total
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button fill="outline" color="secondary"  size="small" (click)="addNewItem()" *ngIf="isEditOrderFlow">Add product
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
    <ion-item class="ion-margin-bottom" *ngFor="let product of cartItems; let i = index;" lines="none">
      <ion-label >
        <ion-row class="acc-label" (click)="expandItem(i)"
          [ngClass]="expanded && i === expandedItemIndex? 'expand' : ''">
          <ion-col size="12">
            {{product.name ? product.name : product.productDetail.name}} -
            <span class="bold">{{product.updatedQty}} item</span>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="expanded && i === expandedItemIndex">
          <ion-col size="12">
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-icon name="cube" color="grey"></ion-icon>
                <span>{{product.name ? product.name : product.productDetail.name}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-icon name="cash" color="grey"></ion-icon>
                <span>Price: {{product.price}} ZMW</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center" *ngIf="product.netWeight">
                <ion-icon name="cog" color="grey"></ion-icon>
                Net Weight: <span>{{product.netWeight | number :'.2-2'}}</span> Kg
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-row>
                  <ion-col size="2" class="ion-text-left" style="padding-top: 5%">
                    <span>Qty: </span>
                  </ion-col>
                  <ion-col size="2">
                    <input type='text' name='quantity' [(ngModel)]="product.quantity" value='0' class='qty'
                      style="width: 40px;height: 25px;text-align: center;margin-top: 6px;" #qty />
                  </ion-col>
                  <ion-col size="8" class="ion-text-right">
                    <ion-button color="secondary" [disabled]="!(qty.value > 0)" (click)="updateCart(product)"
                      style="color: white !important;">
                      <strong>
                        <ion-icon name="cart"></ion-icon>Update
                      </strong>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="10">
                <ion-icon name="cash" color="grey"></ion-icon>
                <span>SubTotal: {{product.subTotal}} ZMW</span>
              </ion-col>
              <ion-col size="2" class="ion-text-right">
                <ion-button fill="clear" color="grey" (click)="removeFromCart(product)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-col  size="6">
      <ion-button *ngIf="!isEditOrderFlow" (click)="clearCart()" [disabled]="(cartItems.length < 1)" color="light"style="margin-right: 15px;">
        <ion-icon name="trash"></ion-icon> Clear Cart <ion-spinner name="dots" *ngIf="showClearCartLoader">
        </ion-spinner>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="confirmSubmitOrder()" [disabled]="(cartItems.length < 1)" color="secondary">
        <ion-icon name="cart"></ion-icon> Submit Order <ion-spinner name="dots" *ngIf="showLoader"></ion-spinner>
      </ion-button>
    </ion-col>
    </ion-col>
    
  </ion-row>
</ion-footer>