ion-header {
  background-color: var(--ion-color-primary);
}
ion-content {
  ion-card {
    box-shadow: 0px 0px 1px 0px;
    border-radius: 10px; 
    padding-top: 15px;
    padding-bottom: 15px;

    .col-5 {
      margin: auto;
      .user-type-col {
        margin-left: -20px;
        font-size: 12px;
        width: 115px;
        text-align: center;
        color: var(--ion-color-dark-tint);
      }
      .user-id-col {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        .user-id {
          display: block;
          height: 70px;
          width: 70px;
          background: var(--ion-color-secondary);
          color: var(--ion-color-danger-contrast);
          border-radius: 50px;
          text-align: center;
          padding: 28px 10px;
          font-weight: 500;
        }
      }
    }

    .col-7 {
      .user-name-col {
        text-align: center;
        margin-top: auto;
        .user-name {
          margin-bottom: 8px;
          font-size: 20px;
          text-transform: capitalize;
          word-break: break-word;
          display: block;
          color: var(--ion-color-warning-contrast);
        }
      }
    }
    .edit-user-btn {
      font-size: 10px;
      width: 90%;
      color: var(--ion-color-secondary-tint);
      font-weight: 500;
    }

    .rest-pass-btn {
      margin-top: 5px;
      font-size: 10px;
      width: 90%;
      margin-left: 7px;
      font-weight: 500;
    }

    ion-icon {
      color: var(--ion-color-secondary-tint);
      font-size: 20px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
  .noDataView {
    box-shadow: none;
    ion-card-header {
      text-align: center;
      margin-top: 20%;
    }

    ion-icon {
      border-radius: 20px;
      width: 30px;
      height: 30px;
      background-color: var(--ion-color-dark);
    }
    h4 {
      color: var(--ion-color-primary);
      font-size: 1.3rem;
    }
  }
}
