ion-content {
  ion-item {
    ion-label {
      font-size: 18px;
    }
  }
  ion-card {
    box-shadow: 0px 0px 1px 0px;
    border-radius: 10px; 
    ion-col {
      color: var(--ion-color-light-contrast);
      span {
        color: var(--ion-color-medium-shade);
        margin-right: 5px;
      }
    }
    ion-icon {
      margin-right: 6px;
    }
  }
  .importBtn {
    --background: var(--ion-color-light-tint);
    color: var(--ion-color-dark-tint);
    box-shadow: 0px 0px 1px;
  }

  .cancel {
    color: var(--ion-color-danger);
  }

  .in-progress {
    color: var(--ion-color-primary);
  }

  .ion-align-items-center {
    text-align: center;
  }
  .statusCol {
    white-space: pre;
    text-align: center;
    text-transform: capitalize;
  }
  .recieved {
    color: var(--ion-color-success-shade);
  }
  .noDataView {
    ion-card {
      margin-top: 20%;
      box-shadow: none;
      ion-card-header {
        text-align: center;
      }
      ion-icon {
        border-radius: 20px;
        width: 30px;
        height: 30px;
        background-color: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
      }
      h4 {
        color: var(--ion-color-dark);
        font-size: 1.3rem;
      }
    }
  }
}

ion-footer {
  background-color: var(--ion-color-primary-contrast);
  text-align: center;
}
