<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="hrefTag">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Order List</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" fill="clear">
        <ion-icon slot="icon-only" name="ellipsis-vertical" ></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="full-background">
  <ion-item lines="full" *ngIf="showToggleBtn ">
    <ion-label>Selected Customer Orders</ion-label>
    <ion-toggle (ionChange)="customerOrderList($event)" [checked]='toggleValue'></ion-toggle>
  </ion-item>
  <ion-list *ngIf="orderListAvailable && (orderList.length > 0)">
    <ion-card *ngFor="let order of orderList">
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-icon color="grey" name=help-buoy></ion-icon>
            <span class="order-list-label">Customer:</span> {{order.userDetail.name}} [{{order.userDetail.externalId}}]
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-icon color="grey" name="cart"></ion-icon>
            <span>Order Id:</span> {{order.orderId}}
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-icon color="grey" name="calendar"></ion-icon>
            <span>Date: </span>{{order.lastUpdatedAt}}
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-icon color="grey" name="cash"></ion-icon>
            <span>Total:</span>{{order.orderTotal}} ZMW
          </ion-col>
        </ion-row>
        <ion-row *ngIf="order.salesmanCode && order.salesmanName" class="ion-align-items-center">
          <ion-col size="12">
            <ion-icon color="grey" name=help-buoy></ion-icon>
            <span class="order-list-label">SM:</span> {{order.salesmanName}} [{{order.salesmanCode}}]
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-icon name="pin" color="grey"></ion-icon> <span>Province:</span> {{order.userDetail.country}} [
            {{order.userDetail.province}} ]
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-icon color="grey" name="cog"></ion-icon>
            <span>Total Net Weight:</span>
            <strong class="ion-text-uppercase">{{order.totalNetWeight | number: '.2-2'}} tonnage</strong>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-icon color="grey" name="podium"></ion-icon><span>Status:</span> <strong
              class="ion-text-uppercase {{order.status}}">{{order.status}}</strong>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center" *ngIf="!isAdmin">
          <ion-col size="12">
            <ion-button size="small" fill="outline" color="secondary" item-end (click)="getOrderDetial(order)">view
              order</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center" *ngIf="isAdmin">
          <ion-col size="5">
            <ion-button size="small" fill="outline" color="secondary" (click)="getOrderDetial(order)">view order
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-button size="small" class="importBtn" [disabled]="!(order.showImport)" (click)="importOrder(order)">
              <ion-icon name="caret-down-circle-outline"></ion-icon>IMPORT ORDER<ion-spinner name="dots"
                *ngIf="showLoader"></ion-spinner>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list class="noDataView" *ngIf="orderListAvailable && (orderList.length < 1)">
    <ion-card>
      <ion-card-header>
        <ion-icon name="alert"></ion-icon>
        <h4>No record found!</h4>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer *ngIf="isAdmin">
  <ion-button (click)="filterOrderToExport()">
    <ion-icon name="document" class="ion-margin-end"></ion-icon>export to csv
  </ion-button>
</ion-footer>