.noDataView{
    padding: 20px;
    margin-top: 30%;
    font-size: 60px;
    color: #225f93;

    h4{
        font-size: 2rem
    }
}

ion-icon {
    margin-right: 6px;
}

.ion-align-items-center {
    text-align: center;
}