<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Payment History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="full-background">
  <ion-card *ngFor="let payment of data">
    <ion-card-content class="ion-text-center">
      <ion-row *ngIf="payment.lastUpdatedAt">
        <ion-col text-center>
          <ion-icon color="grey" name="calendar"></ion-icon> Payment Date: {{payment.lastUpdatedAt}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="payment.amount">
        <ion-col text-center>
          <ion-icon color="grey" name="cash"></ion-icon> Amount: {{payment.amount}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="payment.mode">
        <ion-col col-12 text-center>
          <ion-icon color="grey" name="card"></ion-icon>
          Payment Mode: <strong text-uppercase>{{payment.mode}}</strong>
        </ion-col>
      </ion-row>
     <ion-row *ngIf="payment.paidTo">
        <ion-col col-12 text-center>
          <ion-icon color="grey" name="star"></ion-icon>SM: <strong text-uppercase>{{payment.paidTo}}</strong>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="payment.transactionId">
        <ion-col col-12 text-center>
          <ion-icon color="grey" name="information-circle-outline"></ion-icon>Transaction ID: <strong
            text-uppercase>{{payment.transactionId}}</strong>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="payment.chequeId">
        <ion-col col-12 text-center>
          <ion-icon color="grey" name="information-circle-outline"></ion-icon>Cheque ID: <strong
            text-uppercase>{{payment.chequeId}}</strong>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="payment.comment">
        <ion-col col-12 text-center>
          <ion-icon color="grey" name="information-circle-outline"></ion-icon>Commment: <strong
            text-uppercase>{{payment.comment}}</strong>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="paymentHistoryAvailable && data && (data.length < 1)" class="noDataView">
    <ion-card-header class="ion-text-center">
      <ion-icon name="alert" class="alert"></ion-icon>
      <h4>No record found!</h4>
    </ion-card-header>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>