ion-icon {
    margin-right: 5px;
}

.ion-align-items-center {
    text-align: center;
}

.search {
    background-color: #225f93;
}

ion-badge {
    padding: 4px 6px;
}
.cart-btn {
    position: relative;
}
.cart-badge {
    position: absolute;
    top: -4px;
    right: -6px;
    background: #3dc2ff;
    border-radius: 10px;
    height: 18px;
    width: 18px;
    font-size: 10px;
}