<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="hrefTag"></ion-back-button>
    </ion-buttons>
    <ion-title>{{parentCatName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="full-background">
  <ion-list *ngIf="categoryListAvailable && (childCatList.length > 0)">
    <ion-item *ngFor="let category of childCatList" (click)="navigateUnitSizeProductPage(category)">
      <img src="./assets/imgs/productcategory.svg">{{category.name}}
      <ion-buttons slot="end">
        <ion-button clear color="secondary" item-end><ion-icon name="arrow-forward"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-list class="noDataView" *ngIf="categoryListAvailable && (childCatList.length < 1)">
    <ion-card>
      <ion-card-header>
        <ion-icon name="alert" class="alert"></ion-icon>
        <h4>No record found!</h4>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
