ion-content {
  ion-grid {
    margin: 8px 8px 8px 0px;
    ion-item {
      padding-top: 4px;
      ion-icon {
        margin-bottom: -3px;
      }
      ion-label {
        color: var(--ion-color-medium-shade);
      }
    }
    .error {
      color: var(--ion-color-danger-shade);
    }
  }
}
