<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="hrefTag"></ion-back-button>
    </ion-buttons>
    <ion-title>Parent Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="categoryListAvailable && (parentCategoryList.length > 0)">
    <ion-item *ngFor="let category of parentCategoryList" (click)="navigateChildCatPage(category)">
      <img src="./assets/imgs/productcategory.svg">{{category.name}}
      <ion-buttons slot="end">
        <ion-button clear color="secondary" item-end><ion-icon name="arrow-forward"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
