ion-header{
    ion-toolbar{
        --background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
    }
}

img {
    height: 37px;
    margin-right: 18px;
    margin-bottom: 11px;
    margin-top: 11px;
}
