ion-header {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  ion-toolbar {
    --background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
  }
}

ion-content {
  ion-item {
    margin-top: 10px;
    & :first-child {
      width: 60px;
      height: 60px;
      border-radius: 31px;
      background-color: var(--ion-color-secondary);
      color: var(--ion-color-primary-contrast);
      text-align: center;
      padding-top: 22px;
      margin-bottom: 10px;
    }
    & :nth-child(2)::first-letter {
      margin-left: 18px;
      font-size: 30px;
      text-transform: capitalize;
    }
    & :nth-child(3) {
      color: var(--ion-color-primary);
    }
  }

  .noDataView {
    ion-card {
      box-shadow: none;
      ion-card-header {
        text-align: center;
        margin-top: 20%;
      }
      ion-icon {
        border-radius: 20px;
        width: 30px;
        height: 30px;
        background-color: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
      }
      h4 {
        color: var(--ion-color-dark);
        font-size: 1.3rem;
      }
    }
  }
}
