
#modalBtn{
    text-align: center;
    margin-top: 30px;
}

.salesmanName{
   text-transform: capitalize;
}

.item-visible{
    display: block;
}
.item-hidden{
    display: none;
}
ion-item{
    margin-top: 5px;
}

